#root {
  width: 100%;
}

.title-text {
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 3em;
  text-shadow: 2px 2px #8d8d8d;
}

.strapline-text {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2em;
}

.instagram {
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 0px;
}

.centre-text {
  text-align: center;
}

a {
  color: #03bd76;
  text-decoration: none;
}

a:hover {
  color: #018f59;
}

.card {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background-color: rgb(53, 53, 53);
    filter: drop-shadow(0px 5px 10px #000000);
}

.card-content {
  margin:10px;
}
.card-footer {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid white;
    padding-top: 10px;
    padding-bottom:10px;
}

.card-item {
    display: flex;
    justify-content: center;
}

.joke-hr {
    margin-left: 10%;
    margin-right: 10%;
}


.joke {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
} 

.joke-container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80vw;
    padding: 10px;   
}

.joke-text {
    width:100%;
    font-size: 1.5rem;
    text-align: center;
}

.joke-buttons-container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80vw;
    padding: 10px;   
    padding-top: 0px;
    padding-bottom: 0px;
}

.padding-left {
  padding-left: 10px;
}

.punchline-container {
    flex: 1;
    padding-top: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.joke-button {
    background-color:#48c78e;
    color:white;
    padding:10px;
    border: 0px none;
    border-radius: 10px;
    margin:10px;
    min-width: 80px;
    max-width: 100px;

    filter: drop-shadow(0px 5px 4px #000000);
}

.joke-button:hover {
    background-color: #36ac77;
}